/* ABOUT PAGE */

.showcase-artist {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.showcase-artist > img{
    width: 24rem;
    height: 24rem;
    box-shadow: 0 0 24px #000000;
}

.summary {
    font-size: 32pt;
}

.summary-content {
    font-size: 18pt;
}

@media (max-width: 100rem) {
    .summary {
    font-size: 24pt;
    }

    .summary-content {
        font-size: 12pt;
    }    
}